$background-color: #252525;
$background-color-dark: #1f1f1f;
$highlight-color: #00aa55;
$font-color: #ffffff;

$seperator-line: $highlight-color 1px solid;

$header-height: 50px;
$music-bar-height: 100px;